How to install Lubuntu 16.04 LTS on iBook G4 PowerPC laptop
============================================================

1) First install the following minimal iso image using a wired Internet connection:

http://ports.ubuntu.com/ubuntu-ports/dists/xenial/main/installer-powerpc/current/images/powerpc/netboot/mini.iso

2) Change the append line in /etc/yaboot.conf:

append="video=radeonfb:1024x786-32@60"

Then run: sudo ybin

Reboot and test.

3) Run these Terminal commands:

sudo apt-get update

sudo apt-get install xfce4 lxde lxde-common lxde-core

Reboot and test desktop.

4)

sudo apt-get install git  

git clone https://github.com/MarkRijckenberg/shell-scripts.git

cd shell-scripts

./restore-packagelist.bash

Reboot and test.

Sources:

https://help.ubuntu.com/community/Lubuntu/Documentation/FAQ/PPC#No_desktop_with_Radeon_video_chips_on_LiveCD

http://ubuntuforums.org/showthread.php?t=2188703
